.addtask{
  display: flex;

  &-noduedate{
    display: flex;
    margin: 0;
    padding: 0;
    input, label{
      width: auto;
    }
  }

  a[type=button]{
    font-weight: bold;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
    background-color: var(--selected-color);
    &:hover{
      background-color: var(--selected-hover-color)
    }
  }

  &-form{
    textarea{
      border-radius: 8px;
      padding: 4px;
      height: auto;
      resize: none;
      font-size: 16px;
      background-color: var(--content-section);
      color: var(--text-color);
      &:focus{
        border: 2px solid var(--selected-color);
        outline: none;
        padding: 3px;
      }
    }
  }

  &-info{
    input[type=date], select{
      border-radius: 8px;
      padding: 2px;
      margin: 8px;
      width: auto;
      text-align: center;
    }

    &-header{
      border-bottom: 2px solid #ddd;
    }
  }

  input+section{
    border-top: 1px solid #ddd;
    margin: 10px 0;
    width: 100%;
  }
}

.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  right: 0px;
  top: 35px;
  background-color: var(--content-section);
  min-width: 180px;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(#404040, 0.15);
}