.addTask{
  &-button{
    &:hover{
      background-color: var(--selected-color);
      border-radius: 10px;
    }
    &-clicked{
      background-color: var(--selected-color);
      border-radius: 10px;
      &:hover{
        background-color: var(--selected-hover-color);
      }
    }
  }

  &-section{
    padding: 10px;
    display: flex;
  }

  &-btn{
    font-weight: bold;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
    background-color: var(--selected-color);
    &:hover{
      background-color: var(--selected-hover-color)
    }
  }
}

.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  right: 0px;
  top: 35px;
  background-color: var(--content-section);
  min-width: 180px;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(#404040, 0.15);
}