*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  li{
    list-style: none;
  }
}
#app{
  transition: .2s;
  padding: 0 20px;
  color: var(--text-color)
}
:root{
  --bg-color: #F2F2F2;
  --text-color: #1F1C2E;
  --content-section: #fff;
  --grey-color: #cacaca;

  --border-radius: 15px;
  --selected-color: rgb(0, 186, 124);

  .moon svg:hover{
    fill: var(--text-color);
  }
}
.dark:root{
  --bg-color: #000;
  --text-color: #FFFFFF;
  --content-section: #1f1f1f;

  .moon svg{
  fill: var(--text-color);
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-right{
    display: flex;
    justify-content: space-between;
    width: 50px;
  }
}
.addTask-button, .moon{
  cursor: pointer;
}

.app{
  display: flex;
}

.sidebar{
  display: flex;
  flex-direction: column;
  background-color: var(--projects-section);
  border-radius: var(--border-radius);
  padding: 30px 30px 0 30px;
  width: 250px;
  margin-right: 10px;
  text-align: center;
  background-color: var(--content-section);
  a, span{
    color: var(--text-color);
    text-decoration: none;
    margin: 10px 0;
    padding: 13px;
    border-radius: var(--border-radius);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    align-items: center;
    cursor: pointer;
    &:hover{
      background-color: var(--bg-color);
    }
    &.router-link-exact-active {
      background-color: var(--selected-color);
      color: var(--content-section);
    }
  }
}

.content{
  height: 90vh;
  background-color: var(--content-section);
  border-radius: var(--border-radius);
  padding: 30px 30px 0 30px;
  overflow: hidden;
  width: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(#404040, 0.05);
  flex: 3;
}

.projects-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  p {
    font-size: 24px;
    font-weight: 700;
    opacity: .9;
    margin: 0;
    color: var(--main-color);
  }
}

.high { 
  background-color: #fa5b586e;
  border: 3px solid #FA5B58 }
.medium { 
  background-color: #ffcf6774;
  border: 3px solid #FFCE67;}
.low { 
  background-color: #77be9381;
  border: 3px solid #77BE93;
}

input[type=text], input[type=date], input[type=radio]{
  border-radius: var(--border-radius);
  padding: 13px;
  margin: 10px;
  border: 2px solid var(--grey-color);
  width: 250px;
  background-color: var(--content-section);
  color: var(--text-color);

  &::-webkit-input-placeholder {
    color: gray;
  }
  &:-ms-input-placeholder {
    color: gray;
  }
  &::-moz-placeholder {
    color: gray;
  }
  &:-moz-placeholder {
    color: gray;
  }

  &:focus{
    outline: none;
    border: 2px solid var(--selected-color);
  }
}