*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  li{
    list-style: none;
  }
}
#app{
  transition: .2s;
  padding: 0 20px;
  color: var(--text-color)
}
:root{
  --bg-color: #F2F2F2;
  --text-color: #1F1C2E;
  --content-section: #fff;
  --grey-color: #cacaca;

  --border-radius: 10px;
  --selected-color: rgb(0, 186, 124);

  --selected-hover-color: rgb(3, 144, 97);

  --low-bg-color: #77be93a1;
  --low-border-color: #77BE93;
  --medium-bg-color: #e7b956a0;
  --medium-border-color: #fcc754;
  --high-bg-color: #fa5b587e;
  --high-border-color: #fa5b58bb;

  .moon svg:hover{
    fill: var(--text-color);
  }
}
.dark:root{
  --bg-color: #000;
  --text-color: #FFFFFF;
  --content-section: #1f1f1f;

  .moon svg{
  fill: var(--text-color);
  }
}

.show {display: block;}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-right{
    display: flex;
    justify-content: space-between;
    width: 50px;
  }
}
.addtask-button, .moon{
  cursor: pointer;
}
.addtask-button{
  &:hover{
    background-color: var(--selected-color);
    border-radius: 10px;
  }
  &-clicked{
    background-color: var(--selected-color);
    border-radius: 10px;
    &:hover{
      background-color: var(--selected-hover-color);
    }
  }
}

.app{
  display: flex;
}
.sidebar{
  display: flex;
  flex-direction: column;
  background-color: var(--projects-section);
  border-radius: var(--border-radius);
  padding: 30px 30px 0 30px;
  width: 250px;
  margin-right: 10px;
  text-align: center;
  background-color: var(--content-section);
  a, span{
    color: var(--text-color);
    text-decoration: none;
    margin: 10px 0;
    padding: 13px;
    border-radius: var(--border-radius);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    align-items: center;
    cursor: pointer;
    &:hover{
      background-color: var(--hover-menu-color); //inherited from menustyle.scss
    }
    &.router-link-exact-active {
      background-color: var(--selected-color);
      color: var(--content-section);
      &:hover{
        background-color: var(--selected-hover-color);
      }
    }
  }

  &-text{
    margin: 0;
    padding: 0;
  }
}

.app-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content{
  height: 90vh;
  background-color: var(--content-section);
  border-radius: var(--border-radius);
  padding: 30px 30px 0 30px;
  overflow: hidden;
  width: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(#404040, 0.05);
  flex: 3;
}

.projects-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  p {
    font-size: 24px;
    font-weight: 700;
    opacity: .9;
    margin: 0;
    color: var(--main-color);
  }
}

.projects-status {
  display: flex;
}
.item-status {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  
  &:not(:last-child) .status-type:after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translatey(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
  }
}
.status-number {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--main-color);
}
.status-type {
  position: relative;
  padding-right: 24px;
  color: var(--secondary-color);
}

.btn{
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--selected-color);
  border: none;
  color: var(--bg-color);
  &:hover{
    background-color: var(--selected-hover-color)
  }
}
.cancel-btn{
  background-color: var(--high-border-color);
  &:hover{
    background-color: var(--high-bg-color);
  }
}

.high { 
  background-color: var(--high-bg-color);
  border: 3px solid  var(--high-border-color)}
.medium { 
  background-color: var(--medium-bg-color);
  border: 3px solid var(--medium-border-color);}
.low { 
  background-color: var(--low-bg-color);
  border: 3px solid var(--low-border-color);
}

input[type=text], input[type=date], input[type=radio], input[type=password], select{
  border: 2px solid var(--grey-color);
  background-color: var(--content-section);
  color: var(--text-color);

  &::-webkit-input-placeholder {
    color: gray;
  }
  &:-ms-input-placeholder {
    color: gray;
  }
  &::-moz-placeholder {
    color: gray;
  }
  &:-moz-placeholder {
    color: gray;
  }

  &:focus{
    outline: none;
    border: 2px solid var(--selected-color);
  }
}

@media screen and (max-width: 520px) {
  #app{
    padding: 0 10px;
  }
  .content{
    padding: 15px;
  }
  .section-title{
    display: none;
  }
  .sidebar{
    width: auto;
    padding: 7px;
    &-text{
      display: none;
    }

    svg{
      width: 20px;
    }
  }
}