:root{
  --task-dropshadow: #40404032;
}
.dark:root{
  --task-dropshadow: #b9b9bb36;
}

.projects-header{
  display: flex;
  justify-content: space-between;
}
.projects-section {
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
  }

  .projects-status {
    display: flex;
    margin: 0;
    padding-bottom: 5px;
  }
  .project-boxes {
    padding: 20px 0;
    margin: 0 -8px;
    overflow-y: auto;
    &.jsGridView {
      display: flex;
      flex-wrap: wrap;
      .project-box-wrapper {
        width: 33.3%;
      }
    }
  }

  .item-status {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    
    &:not(:last-child) .status-type:after {
      content: '';
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translatey(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid var(--secondary-color);
    }
  }
  .status-number {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--main-color);
  }
  .status-type {
    position: relative;
    padding-right: 24px;
    color: var(--secondary-color);
  }

  .project-box {
    border-radius: var(--border-radius);
    padding: 16px;
    min-height: 200px;
    transition: .2s;
    &:hover{
      opacity: .95 !important;
      box-shadow: 0 5px 10px var(--task-dropshadow);
    }
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
    }
    &-wrapper {
      padding: 8px;
    }

    .taskdone{
      text-decoration-line: line-through;
      text-decoration-color: var(--text-color);
      text-decoration-thickness: 2px;
    }
    .taskprogress{
      opacity: .7;
      margin-left: 10px;
    }
  }
  .more-wrapper {
    position: relative;
  }
  
  .box-content-header {
    font-size: 16px;
    font-weight: 600;
  }

  .project-box-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    position: relative;
    
  }
  .days-left {
    background-color: rgba(255,255,255,0.6);
    font-size: 12px;
    border-radius: 20px;
    flex-shrink: 0;
    padding: 6px 16px;
    font-weight: 700;
    opacity: .8;
  }
  .loader{
    position: absolute;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }

  .addtask{
    &-button{
      color: var(--text-color);
      text-decoration: none;
      padding: 7px;
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      background-color: var(--selected-color);
      &:hover{
        background-color: var(--selected-hover-color);
        border-radius: 10px;
      }
      &-clicked{
        background-color: var(--selected-hover-color);
        border-radius: 10px;
      }
    }
  }

  @media screen and (max-width: 980px) {
    .project-boxes.jsGridView .project-box-wrapper {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 520px) {
    .projects-section { overflow: auto; }
    .project-boxes { overflow-y: visible; }
    .project-box{
      min-height: 120px;
    }
    .status-number{
      font-size: 22px;
    } 
    .status-type {
      font-size: 12px;
    }
    .project-boxes.jsGridView .project-box-wrapper {
      width: 100%;
    }
    .projects-section {
      padding: 0 10px;
    }
    .projects-section-header p,
    .projects-section-header .time{
      font-size: 18px;
    }
    .status-type {
      padding-right: 0px;
    }
    .box-content-header {
      font-size: 14px;
    }
    .days-left {
      font-size: 8px;
      padding: 6px 6px;
      text-align: center;
    }
    .addtask-text{
      display: none;
    }
  }

@media screen and (max-width: 340px){
  .status-number{
    font-size: 18px;
  }
  .status-type{
    font-size: 10px;
  }
}