:root{
  --task-dropshadow: #40404032;
}
.dark:root{
  --task-dropshadow: #b9b9bb36;
}

.menu-edit{
  display: none;
  position: absolute;
  z-index: 10;
  background-color: var(--content-section);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 20px rgba(#404040, 0.15);

  padding: 5px;
  &-show{
    display: block;
  }
}

.projects-section {
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
  }

  .projects-status {
    display: flex;
    margin: 0;
    padding-bottom: 5px;
  }
  .project-boxes {
    padding: 20px 0;
    margin: 0 -8px;
    overflow-y: auto;
    &.jsGridView {
      display: flex;
      flex-wrap: wrap;
      .project-box-wrapper {
        width: 33.3%;
      }
    }
  }
  
  .project-box {
    border-radius: var(--border-radius);
    padding: 16px;
    min-height: 200px;
    transition: .2s;
    &:hover{
      opacity: .95 !important;
      box-shadow: 0 5px 10px var(--task-dropshadow);
    }
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
    }
    &-wrapper {
      padding: 8px;
    }

    .taskdone{
      text-decoration-line: line-through;
      text-decoration-color: var(--text-color);
      text-decoration-thickness: 2px;
    }
    .taskprogress{
      opacity: .7;
      margin-left: 10px;
    }
  }
  .more-wrapper {
    position: relative;
  }
  
  .box-content-header {
    font-size: 16px;
    font-weight: 600;
  }

  .project-box-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    position: relative;
    
  }
  .days-left {
    background-color: rgba(255,255,255,0.6);
    font-size: 12px;
    border-radius: 20px;
    flex-shrink: 0;
    padding: 6px 16px;
    font-weight: 700;
    opacity: .8;
  }
  .loader{
    position: absolute;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }

  @media screen and (max-width: 980px) {
    .project-boxes.jsGridView .project-box-wrapper {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 520px) {
    .projects-section { overflow: auto; }
    .project-boxes { overflow-y: visible; }
    .app-content { padding: 16px 12px 24px 12px;}
    .status-number, .status-type {
      font-size: 10px;
    }
    .app-header {
      padding: 16px 10px;
    }
    .project-boxes.jsGridView .project-box-wrapper {
      width: 100%;
    }
    .projects-section {
      padding: 24px 16px 0 16px;
    }
    .projects-section-header p,
    .projects-section-header .time{
      font-size: 18px;
    }
    .status-type {
      padding-right: 4px;
    }
    .box-content-header {
      font-size: 12px;
      line-height: 16px;
    }
    .days-left {
      font-size: 8px;
      padding: 6px 6px;
      text-align: center;
    }
  }